<div class="col-md-12">
    <h3><i class="fas fa-briefcase"></i>&nbspประกันภัยระหว่างการเดินทาง<div><br></h3>
</div>

<div class="col-md-12">
    <div class="card d-flex align-items-stretch">
        <div class="row insurance">
            <div class="col-md-6">
                <input type="checkbox" id="i_briefcase" ng-model="i_briefcase" ng-click="calculate(breifcase, $event)">&nbsp
                <span class="nameinsure">ประกันกระเป๋าเดินทางหาย หรือ ล่าช้า<br></span>
                (ราคา {{breifcase * 30.21}} บาท)<br><br><br> 
                <p class="seemore">ดูเพิ่มติม</p>
            </div>
            <div class="col-md-6">
                <div class="card-img-right"></div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="col-md-12">
    <div class="card d-flex align-items-stretch">
            <div class="row insurance">
                <div class="col-md-6">
                    <input type="checkbox" id="i_healthcare" ng-model="i_healthcare" ng-click="calculate(healthcare, $event)">&nbsp
                    <span class="nameinsure">ประกันอุบัติเหตุและสุขภาพ ระหว่างเดินทาง<br></span>
                    (ราคา {{healthcare * 30.21}} บาท)<br><br><br>
                    <p class="seemore">ดูเพิ่มติม</p>
                </div>
                <div class="col-md-6">
                    <div class="card-img-right" style="background: url(images/need-health-insurance-56a634c95f9b58b7d0e0681a.jpg) center no-repeat; background-size: cover;">
                    </div>
                </div>
            </div>
        </div>                  
    </div>
</div>
<br>
<div class="col-md-6 offset-md-3">
        <h3><a class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" style="width: 100%;">OK</a></h3>
</div>
