
<div class="col-md-12">
    <h3><i class="fas fa-briefcase"></i>&nbspPassenger<div><br></h3>
</div>
<div class="row">
    <div class="col-md-12">
      <div class="row">

        <!-- Coloumn for Title -->
        <div class="col-md-3">
            <label for="title">Title *</label>                            
            <select class="form-control" ng-model="title">
              <option value="mr">monsieur</option>
              <option value="ms">Ladies</option>
            </select>
        </div>

        <!-- Coloumn for Firstname -->
        <div class="col-md-4">
            <label for="firstname">First name *</label>
            <input type="text" class="form-control" ng-model='fname' id="fname" placeholder="กรอกชื่อของท่าน" name="firstname" required>                                                         
        </div>

        <!-- Coloumn for Lastname -->
        <div class="col-md-5">
            <label for="lastname">Last name *</label>
            <input type="text" class="form-control" ng-model='lname' id="lname" placeholder="กรอกนามสกุลของท่าน" name="lastname" required>                                                                                        
        </div>
        <div class="w-100"></div><br>

        <!-- Coloumn for Birthdate -->
        <div class="col-md-12">
            <label for="birthdate">Brith Date*</label>

            <div class="row">
                <!-- Day -->  
                <div class="col-md-3">                                            
                  <select class="form-control" ng-model="day">
                      <option id="1">1</option>
                      <option id="2">2</option>
                      <option id="3">3</option>
                      <option id="04">04</option>
                      <option id="05">05</option>
                      <option id="06">06</option>
                      <option id="07">07</option>
                      <option id="08">08</option>
                      <option id="09">09</option>
                      <option id="10">10</option>
                      <option id="11">11</option>
                      <option id="12">12</option>
                      <option id="13">13</option>
                      <option id="14">14</option>
                      <option id="15">15</option>
                      <option id="16">16</option>
                      <option id="17">17</option>
                      <option id="18">18</option>
                      <option id="19">19</option>
                      <option id="20">20</option>
                      <option id="21">21</option>
                      <option id="22">22</option>
                      <option id="23">23</option>
                      <option id="24">24</option>
                      <option id="25">25</option>
                      <option id="26">26</option>
                      <option id="27">27</option>
                      <option id="28">28</option>
                      <option id="29">29</option>
                      <option id="30">30</option>
                      <option id="31">31</option> 
                  </select>
                </div>
                
                <!-- Month -->
                <div class="col-md-3">                  
                  <select class="form-control" ng-model="month">
                      <option id="1">1</option>
                      <option id="2">2</option>
                      <option id="3">3</option>
                      <option id="04">4</option>
                      <option id="05">5</option>
                      <option id="06">6</option>
                      <option id="07">7</option>
                      <option id="08">8</option>
                      <option id="09">9</option>
                      <option id="10">10</option>
                      <option id="11">11</option>
                      <option id="12">12</option>
                  </select> 
                </div>

                <!-- Year -->
                <div class="col-md-3">                        
                  <select class="form-control" ng-model="year">
                            <option id="2020">2020</option>
                            <option id="2019">2019</option>
                            <option id="2018">2018</option>
                            <option id="2017">2017</option>
                            <option id="2016">2016</option>
                            <option id="2015">2015</option>
                            <option id="2014">2014</option>
                            <option id="2013">2013</option>
                            <option id="2012">2012</option>
                            <option id="2011">2011</option>
                            <option id="2010">2010</option>
                            <option id="2009">2009</option>
                            <option id="2008">2008</option>
                            <option id="2007">2007</option>
                            <option id="2006">2006</option>
                            <option id="2005">2005</option>
                            <option id="2004">2004</option>
                            <option id="2003">2003</option>
                            <option id="2002">2002</option>
                            <option id="2001">2001</option>
                            <option id="2000">2000</option>
                  </select>                               
                </div> 
            </div>                     
        </div>
                  <div class="w-100"></div><br>                        
                  <!-- Coloumn for Passport -->
                  <div class="col-md-7">
                    <label for="pass">Passport No. *</label>
                    <input type="text" class="form-control" ng-model='pid' id="pid" placeholder="กรอกหนังสือเลขหนังสือเดินทาง" name="passid" required>                              
                  </div>
                  <!-- Coloumn for Country -->
                  <div class="col-md-4">
                    <label for="country">Country *</label><br>
                    <select class="form-control" ng-model="country">
                      <option id="th">Thiland</option>
                      <option id="usa">United States</option>
                      <option id="jp">Japan</option>
                    </select>                            
                  </div>   
                  <div class="w-100"></div><br>
                  <!-- Coloumn for Passport Expiration -->
                  <div class="col-md-12">
                      <label for="adults">Passport Expiration  Date*</label><br>
                      <div class="row">
                        <div class="col-md-3">
                          <!-- Day -->                            
                          <select class="form-control" ng-model="pday">
                            <option id="1">1</option>
                            <option id="2">2</option>
                            <option id="3">3</option>
                            <option id="04">04</option>
                            <option id="05">05</option>
                            <option id="06">06</option>
                            <option id="07">07</option>
                            <option id="08">08</option>
                            <option id="09">09</option>
                            <option id="10">10</option>
                            <option id="11">11</option>
                            <option id="12">12</option>
                            <option id="13">13</option>
                            <option id="14">14</option>
                            <option id="15">15</option>
                            <option id="16">16</option>
                            <option id="17">17</option>
                            <option id="18">18</option>
                            <option id="19">19</option>
                            <option id="20">20</option>
                            <option id="21">21</option>
                            <option id="22">22</option>
                            <option id="23">23</option>
                            <option id="24">24</option>
                            <option id="25">25</option>
                            <option id="26">26</option>
                            <option id="27">27</option>
                            <option id="28">28</option>
                            <option id="29">29</option>
                            <option id="30">30</option>
                            <option id="31">31</option> 
                          </select>
                        </div>
                        <div class="col-md-3">
                          <!-- Month -->
                          <select class="form-control" ng-model="pmonth">
                            <option id="1">1</option>
                            <option id="2">2</option>
                            <option id="3">3</option>
                            <option id="04">4</option>
                            <option id="05">5</option>
                            <option id="06">6</option>
                            <option id="07">7</option>
                            <option id="08">8</option>
                            <option id="09">9</option>
                            <option id="10">10</option>
                            <option id="11">11</option>
                            <option id="12">12</option>
                          </select> 
                        </div>
                        <div class="col-md-3">
                          <!-- Year -->
                          <select class="form-control" ng-model="pyear">
                            <option id="2020">2020</option>
                            <option id="2019">2019</option>
                            <option id="2018">2018</option>
                            <option id="2017">2017</option>
                            <option id="2016">2016</option>
                            <option id="2015">2015</option>
                            <option id="2014">2014</option>
                            <option id="2013">2013</option>
                            <option id="2012">2012</option>
                            <option id="2011">2011</option>
                            <option id="2010">2010</option>
                            <option id="2009">2009</option>
                            <option id="2008">2008</option>
                            <option id="2007">2007</option>
                            <option id="2006">2006</option>
                            <option id="2005">2005</option>
                            <option id="2004">2004</option>
                            <option id="2003">2003</option>
                            <option id="2002">2002</option>
                            <option id="2001">2001</option>
                            <option id="2000">2000</option>
                          </select>                               
                        </div>                               
                      </div>
                  </div>
                  
                </div>
            </div>                  
        </div>
        <div class="w-100"></div><br>
        <div class="col-md-6 offset-md-3" style="padding-top: 10px;">
            <h3><a href="#!insureweb" ng-click="click(title,fname,lname,day,month,year,pid,country,pday,pmonth,pyear)" class="btn btn-primary" style="width: 100%;">Next</a></h3>
        </div>