<!DOCTYPE html>
<html>

    <head>
        <!-- angular js -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <style>
            body {
                background-color: rgb(11, 109, 155);
                margin-top: 30px;
            }
            .card {
                padding: 20px;
            }
            .nowrap {
                white-space: nowrap;
            }
        </style>
        <!-- Icon -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" 
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    </head>

    <body ng-app="flightapp" ng-controller="flightCtrl">

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<div class="card mx-auto" style="width:1000px;">
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">List View</a>
            <li class="nav-item nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Matrix View</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </li>

        </div>
    </nav>
    <!-- Start class tab-content -->
    <div class="tab-content" id="nav-tabContent">
        <!-- Start of content 'Last View' -->
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <p><span id="number" class="nowrap">2</span><span class="nowrap"> of 3 shown - one-way</span></p>
            <!-- Start of table content -->
            <table class="table table-bordered text-center">
                <thead class="table-primary text-center">
                    <tr>
                        <th scope="col">Price</th>
                        <th scope="col">Airline</th>
                        <th scope="col">Take-Off</th>
                        <th scope="col">Landing</th>
                        <th scope="col">Stops (Duration)</th>
                    </tr>
                </thead>
                <tbody id="mybody" ng-repeat="d1 in flightdata">
                    <!-- <td> {{$index}} </td> -->
                    <td><h2 style="color: rgb(35, 13, 133);">${{d1.outbound.price}}</h2>
                        <a href ng-click="select($index)")>select</a></td>
                    <td>{{d1.outbound.airline}}</td>
                    <td>{{d1.startvalue.toUpperCase()}} {{d1.outbound.takeOffTime}}</td>
                    <td>{{d1.finalvalue.toUpperCase()}} {{d1.outbound.landingTime}}</td>
                    <td>{{d1.outbound.transists.length}}<br>
                    <a href ng-click="details($index)" data-toggle="modal" data-target="#exampleModal">details</a>
                    <i class="fas fa-print"></i>&nbsp<i class="fas fa-envelope"></i>&nbsp<i class="fas fa-heart"></i>&nbsp<i class="fas fa-trash-alt"></i></td>
                </tbody>
            <!-- End of table content -->
            </table>
            <!-- Start pagination -->
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                      <span class="sr-only">Next</span>
                    </a>
                </li>
            <!-- Close pagination -->
            </ul>

            <div class="form-control-inline">
                Results per page:
                <select class="custom-select" style="width:auto;" id="perpage">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3" selected>3</option>
                </select>
            </div>
        <!-- End od content 'Last View' -->
        </div>
    <!-- End of class tab-content -->
    </div>
</div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Flight Detail</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            <pre id='detailflight'></pre>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
        </div>

    </div>

    <!--Start of Javascript-->
    <script>      
        var  app = angular.module('flightapp', []);
        app.controller('flightCtrl', function($scope, $http) {
            var book, flight
            $http.get("/selectflight").then(function(response) {
                book = response.data;

               flight = $http.get("/flight").then(function(response) {
                    $scope.flightdata = response.data;

                    $scope.select = function (index) {
                        let result = index;
                        sessionStorage.clear();
                        sessionStorage.setItem('result', JSON.stringify(result)); 
                        window.location.href = 'Information.html';  
                    }

                    $scope.details = function (index) {
                        document.getElementById("detailflight").innerHTML = JSON.stringify($scope.flightdata[index]);
                    }

                });
            });
        });
    </script>

    </body>

</html>